.x-elem {
	position: absolute;
	pointer-events: none;
	transform-origin: 50% 50%;

}

.translate-box {
	height: 500px;
	width: 500px;
	top: 450px;
	left: 300px;
	outline: 2px solid blue;

	.scale-box {
		height: 300px;
		width: 300px;
		border-radius: 150px;
		top: 0px;
		left: 0px;
		background: rgba(255, 255, 0, 0.2);

		.rotate-box {
			height: 100px;
			width: 100px;
			top: 0px;
			left: 0px;
			outline: 5px outset red;
		}
	}
}
