.x-pool {
	--bg-color: cyan;
	border-radius: 100%;
	background: radial-gradient(var(--bg-color), transparent 75%);
}

.x-arm > * {
	top: unset;
	left: unset;
	right: calc(100% - var(--held-item-width));
}