&, * {
	position: absolute;
	// pointer-events: none;
	transform-origin: 50% 50%;
}

.x-die {
	height: var(--die-size);
	width: var(--die-size);

  svg {
		position: absolute;
		left: 0;
		top: 0;

		.base {
			fill: var(--die-color-bg);
			stroke: var(--die-color-stroke);
			stroke-width: 18;
			stroke-miterlimit: 10;
		}

		.edges {
			fill: none;
			stroke: var(--die-color-stroke);
			stroke-width: 12;
			stroke-linejoin: bevel;
			stroke-miterlimit: 10;
		}

		.bottom {
			opacity: 0.5;
		}

		.side {
			opacity: 0.3;
		}
	}

	.die-val {
		height: 100%;
		width: 100%;
		color: var(--die-color-fg);
		font-size: calc(var(--die-size) / 2);
		line-height: var(--die-size);
		font-family: Oswald;
		text-align: center;
		z-index: 2;
	}
}

&#x-container {
	height: 100%;
	width: calc(100% - var(--sidebar-width));
	top: 0;
	left: 0;

	svg {
		// transform: translate(-50%, 0%);
		// stroke: #000000;
	}

	.translate-box {
		height: 500px;
		width: 500px;
		top: 450px;
		left: 300px;
		outline: 2px solid blue;

		.scale-box {
			height: 300px;
			width: 300px;
			border-radius: 150px;
			top: 0px;
			left: 0px;
			background: rgba(255, 255, 0, 0.2);

			.rotate-box {
				height: 100px;
				width: 100px;
				top: 0px;
				left: 0px;
				outline: 5px outset red;
			}
		}
	}
}