<div id="{{id}}" class="{{classes}}">
	<div class="die-val">{{#if val}}{{val}}{{else}}8{{/if}}</div>
	<svg viewBox="0 0 500 500">
		<polygon class="base" points="250,40 30,153 10,250 30,344 250,460 470,344 490,250 470,153 " />
		<polygon class="bottom" points="30,344 100,355 170,416.3 330,416.3 400,355 470,344 250,460 " />
		<polygon class="side" points="400,355 250,40 470,153 490,250 470,344 " />
		<polygon class="side" points="250,40 30,153 10,250 30,344 100,355 " />
		<path class="edges" d="M470,153l20,97l-20,94L250,460L30,344l-20-94l20-97L250,40L470,153z M250,460l220-116l-70,11l-70,61.3H170L100,355l-70-11L250,460z M470,344l20-94l-20-97L250,40l150,315L470,344z M250,40L30,153l-20,97l20,94l70,11L250,40z M250,40L100,355l70,61.3h160l70-61.3L250,40z" />
</div>